:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

.App {
  text-align: center;
  color: var(--nord0);
  background-color: var(--nord5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-nav {
  background-color: var(--nord5);
  font-size: 2rem;
  font-weight: 700;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  padding : 1em 2vmin 0em 2vmin;
}

.nav-links {
  display : grid;
  grid-template-columns: repeat(2,1fr);
  gap : 1vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 1.5vmin);
}